In [1]:
import pandas as pd
from pandas import DataFrame
from IPython.display import display
from weather_data_preprocessing import column_preci_treatment, data_preci_treatment, null_report

In [2]:
# Data directory
dir = '/directory/'

# Filenames
columns_route = dir + 'PrecipitacionMensualLocalidadesColumnasAdicionales(1981-2010).csv'
data_route = dir + 'PrecipitacionMensualLocalidadesDatos(1981-2010).csv'

# Data import and preprocessing
df_preci_columns = column_preci_treatment(columns_route)
df_preci_data = data_preci_treatment(data_route)

# Data merge from columns and precipitation data
df_preci_data = df_preci_data.merge(df_preci_columns, how='inner', on='Nombre Estación')

# Null count per variable
display(null_report(df_preci_data))

# Null value dropping
df_preci_data.dropna(inplace=True)
print("Number of entries after dropping null values: " + str(len(df_preci_data)))

# Data storage (uncomment to use it)
# df_preci_data.to_csv(dir + 'PrecipitacionMensualLocalidadesPreprocesada(1981-2010).csv', index=False)

,Fecha,Nombre Estación,Precipitacion,Clasificación,Coordenadas Gauss-Kruger (m) X,Coordenadas Gauss-Kruger (m) Y,Código,Departamento
0,1981-01-01,Aiguá,117,Pluviométrica,595500,6215500,2684,Maldonado
1,1981-02-01,Aiguá,97,Pluviométrica,595500,6215500,2684,Maldonado
2,1981-03-01,Aiguá,77,Pluviométrica,595500,6215500,2684,Maldonado
3,1981-04-01,Aiguá,20,Pluviométrica,595500,6215500,2684,Maldonado
4,1981-05-01,Aiguá,135,Pluviométrica,595500,6215500,2684,Maldonado
...,...,...,...,...,...,...,...,...
12385,2010-02-01,Vichadero,27,Pluviométrica,605000,6484500,1454,Rivera
12386,2010-03-01,Vichadero,116,Pluviométrica,605000,6484500,1454,Rivera
12387,2010-04-01,Vichadero,16,Pluviométrica,605000,6484500,1454,Rivera
12388,2010-05-01,Vichadero,117,Pluviométrica,605000,6484500,1454,Rivera
12389,2010-06-01,Vichadero,27,Pluviométrica,605000,6484500,1454,Rivera

Number of entries after dropping null values: 11922